# You need these packages to run my main.py
# To install them, type this into your terminal:

pip3 install Flask --upgrade
pip3 install requests --upgrade
pip3 install jinja2 --upgrade
pip3 install pdfminer.six --upgrade
pip3 install openai --upgrade
pip3 install werkzeug --upgrade

# Or:

pip3 install --upgrade -r requirements.txt