# You need the below packages to run my main.py
# To install them, run the following command:

pip3 install --upgrade -r requirements.txt

Flask
requests
pdfminer.six
openai >= 1.35.14 # version must be at least 1.35.14

# To find out what versions you have installed, run pip3 list in a CLI

pip3 list