<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ebook Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Search for Ebooks</h1>
        <form action="/search" method="post">
            <div class="form-group">
                <label for="search_term">Search for:</label>
                <input type="text" id="search_term" name="search_term" required>
            </div>
            <div class="form-group">
                <button type="submit" name="search_type" value="intitle">by Title</button>
                <button type="submit" name="search_type" value="inauthor">by Author</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
